/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 11, 2016, 4:40:18 PM
    Author     : Clariza
*/
h2, h3, h4{
    text-align: center;
}
.subrayado{
    text-decoration: underline;
    
}
#letragde{
    font-size:24px;
}

.centralizar{
   text-align: center;
}

table{
    font-size:18px;
      margin: 10px;

}
 .mayuscula{
     text-transform: uppercase;
 }